.stay-details-container {
    .stay-details-header {
        .stay-short-info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 13px;
            text-transform: capitalize;
            font-family: airbnb-regular;
            letter-spacing: -0.3px;

            .stay-short-info-rate {
                display: flex;
                align-items: center;
            }

            p {
                text-decoration: underline;
                color: rgb(82, 82, 82);
            }

            > div:first-of-type {
                display: flex;
                align-items: center;
                gap: 5px;
            }

            .stay-save-btn:hover {
                .fa-heart {
                    color: rgb(255, 56, 92);
                }
            }
        }
    }

    .stay-gallery {
        width: 100%;
        justify-content: center;
        align-items: center;
        display: grid;
        grid-template-columns: repeat(4, minmax(250px, 1fr));
        grid-template-rows: 250px 250px;
        gap: 8px;
        padding: 20px 0px;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;

            &:first-child {
                grid-column: 1 / span 2;
                grid-row: 1 / span 2;
                border-top-left-radius: 15px;
                border-bottom-left-radius: 15px;
            }

            &:nth-child(3) {
                border-top-right-radius: 15px;
            }
            &:nth-child(5) {
                border-bottom-right-radius: 15px;
            }
        }
    }

    .stay-info-container {
        display: flex;
        gap: 100px;

        .stay-long-info {
            flex: 2;
            display: flex;
            flex-direction: column;

            > *:not(:last-child) {
                padding: 20px 0px;
                border-bottom: 1px solid rgb(221, 221, 221);
            }

            .stay-long-info-header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                text-transform: capitalize;

                img {
                    object-fit: contain;
                    height: 60px;
                    width: 60px;
                    border-radius: 50%;
                }

                > span:first-of-type {
                    border-bottom: 1px solid #00000029;
                }
            }

            .stay-feature-container {
                display: flex;
                flex-direction: column;
                gap: 20px;

                > div {
                    display: flex;
                    align-items: center;
                    gap: 20px;

                    i {
                        font-size: 20px;
                        color: rgb(44, 44, 44);
                    }

                    div {
                        display: flex;
                        flex-direction: column;

                        h3 {
                            font-weight: 600;
                            color: rgb(44, 44, 44);
                        }

                        h4 {
                            font-weight: 100;
                            color: rgb(87, 87, 87);
                        }
                    }
                }
            }

            .amenities-list {
                ul {
                    list-style: none;
                    padding: 0px;

                    li {
                        padding: 5px 0px;
                        display: flex;
                        gap: 20px;
                    }
                }
            }
        }

        .order-form-container {
            flex: 1;

            .order-form {
                border: 1px solid rgb(204, 204, 204);
                border-radius: 15px;
                padding: 20px 20px;
                box-shadow: 0 6px 16px -2px #d8d8d8;

                .order-form-header {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding-bottom: 20px;

                    .order-price {
                        font-weight: 700;
                    }
                }

                .order-form-date-picker {
                    display: flex;
                    align-items: center;
                    gap: 0px;
                }

                form {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    label {
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                        align-items: flex-start;
                        height: 100%;
                        padding: 10px 25px;
                        cursor: pointer;
                        width: 100%;
                        border: 1px solid rgb(153, 153, 153);

                        &.check-in-lable {
                            border-top-left-radius: 10px;
                            border-bottom-color: rgba(255, 255, 255, 0);
                            border-right-color: rgba(255, 255, 255, 0);
                        }

                        &.check-out-lable {
                            border-top-right-radius: 10px;
                            border-bottom-color: rgba(255, 255, 255, 0);
                        }

                        &.guests-lable {
                            border-bottom-left-radius: 10px;
                            border-bottom-right-radius: 10px;
                        }

                        span {
                            color: black;
                            text-transform: uppercase;
                            font-size: 10px;
                            font-weight: 600;
                            cursor: pointer;
                        }

                        input {
                            font-size: 14px;
                            border: none;
                            font-size: 15px;
                            line-height: 15px;
                            height: 15px;
                            width: 100%;
                            outline: none;
                            background-color: transparent;
                            cursor: pointer;
                            padding: 0px;
                        }
                    }

                    .book-stay-btn {
                        padding: 18px;
                        margin: 15px 0px;
                        width: 100%;
                        border-radius: 10px;
                        background-color: rgb(255, 56, 92);
                        color: white;
                        font-size: 16px;
                        font-weight: 600;
                    }

                    .book-info{
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        width: 100%;

                        h4{
                            font-size: rem(14px);
                            font-weight: unset;
                            text-align: center;
                        }

                        h3{
                            font-size: rem(16px);
                            font-weight: unset;
                            display: flex;
                            justify-content: space-between;
                            width: 100%;
                        }

                    }
                }
            }

            .report-listing-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                font-size: 15px;
                color: rgb(77, 77, 77);
                width: 100%;
                margin-top: 20px;
            }
        }
    }

    .stay-review-container {

        border-top: 1px solid rgb(221, 221, 221);
        padding: 20px 0px;

        .stay-review-header {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;

            .stay-review-ststistics {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 10px 100px;
                width: 100%;

                .ctg-statistics{
                    display: flex;
                    justify-content: space-between;
                }
            }
        }

        .review-list{

            padding: 30px 0px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px 40px;
            width: 100%;

            .review-preview{


                .review-header{
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    padding: 10px 0px;
                    
                    img {
                        object-fit: contain;
                        height: 60px;
                        width: 60px;
                        border-radius: 50%;
                    }

                    h4{
                        font-weight: 100;
                    }
                }

                .review-body{
                    h2{
                        font-weight: 100;
                        font-size: rem(14px);
                    }
                }
            }
            

        }
    }

    .stay-rate-display {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .fas,
    .far {
        font-size: 0.8rem;
        padding-inline-end: 5px;
    }

    .fa-star {
        color: rgb(255, 56, 92);
        padding-bottom: 3px;
    }

    .fa-heart {
        color: rgb(53, 53, 53);
    }

    .fa-external-link-alt {
        color: rgb(53, 53, 53);
    }
}
