.main-hero{
    background-image: url('../../assets/img/hero.jpeg');
    height: 400px;
    position: absolute;
    right: 0%;
    left: 0%;
    top: 0%;
    background-position: center;
    background-repeat: no-repeat;
}