.main-header {
    position: fixed;
    z-index: 5;
    top: 0px;
    width: 100vw;
    height: 80px;
    background-color: $clr-light;
    box-shadow: 0 0 0px 1px #00000014;
    color: $clr-brand;


    > section {
        grid-column: 2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        .logo {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;

            img {
                height: 40px;
                width: 30px;
                object-fit: contain;
            }

            h1 {
                font-size: 24px;
            }
        }

        .main-filter {
            width: unset;
        }

        nav {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            gap: 25px;
        }

        .user-menu-btn {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            gap: 10px;
            padding: 5px 10px;
            border: 1px solid #00000025;
            border-radius: 200px;

            img {
                object-fit: contain;
                height: 30px;
                width: 30px;
                border-radius: 50px;
            }

            span {
                font-size: 13px;
                font-weight: 900;
                color: rgb(63, 63, 63);
            }

            &:hover {
                box-shadow: 0 3px 3px #0000003b;
            }
        }
    }
}

