.banner {
    position: relative;
    width: 100%;
    height: 480px;
    border-radius: 10px;
    margin-bottom: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;

    div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-inline-start: 80px;
        height: 100%;
        flex-wrap: nowrap;
        
        
      

        h1 {
            font-size: rem(43px);
            line-height: rem(46px);
            font-family: airbnb-regular, sans-serif;
            width: 400px;
            white-space: pre-wrap;
        }

        
        h2 {
            font-size: rem(16px);
            line-height: rem(26px);
            font-weight: 100;
            width: 60%;
            padding-top: 12px;
            padding-bottom: 40px;
        }
        
        @include for-mobile-layout {
            h1 {
                font-size: rem(33px);
                line-height: rem(36px);
                width: 200px;
            }
            h2 {
                font-size: rem(12px);
                line-height: rem(20px);
            }
        }
     
        @include for-normal-layout {
            h1 {
                font-size: rem(43px);
                line-height: rem(46px);
                width: 400px;
            }
            h2 {
                font-size: rem(14px);
                line-height: rem(24px);
            }
        }
        button {
            font-size: rem(14px);
            font-family: airbnb-regular, sans-serif;
            padding: 13px 25px;
            border: none;
            border-radius: 8px;
        }
    }

    &.banner-top {
        background-image: url("https://a0.muscache.com/im/pictures/4602a952-afa0-46a6-b08a-24e67e958309.jpg?im_w=720");

        h1 {
            color: $clr-black;
        }

        h2 {
            color: $clr-black;
        }

        button {
            background-color: $clr-black;
            color: $clr-light;
        }
    }

    &.banner-bottom {
        background-image: url("https://a0.muscache.com/im/pictures/5b4dc94a-0b4c-4c27-b50f-9c5a5b93c775.jpg?im_w=720");

        h1 {
            color: $clr-light;
        }

        h2 {
            color: $clr-light;
        }

        button {
            background-color: $clr-light;
            color: $clr-black;
        }
    }
}
