.filter-gallery {
    display: flex;
    gap: 15px;
    margin-top: 20px;
    margin-bottom: 100px;

    a {
        flex: 1;
        width: 1fr;
        height: 300px;

        img {
            object-fit: cover;
            border-radius: 10px;
            height: 100%;
            width: 100%;
        }

        h3 {
            color: $clr-black;
        }
    }
}
