.filter-gallery {
    display: flex;
    gap: 17px;
    margin-top: 20px;
    margin-bottom: 75px;

    a {
        display: flex;
        flex-direction: column;
        gap: 12px;
        height: 100%;
        width: 100%;

        .gallery-preview-img {
            @include aspect-ratio(1, 1);

            img {
                object-fit: cover;
                border-radius: 10px;
            }

        }
        h3 {
            color: $clr-black;
            font-size: rem(14px);
            line-height: rem(13px);
            text-transform: capitalize;
            font-family: airbnb-regular;
        }
    }
}
