.main-hero {
    display: grid;
    grid-template-columns:
        minmax(2rem, 1fr)
        minmax(auto, $normal-breakpoint)
        minmax(2rem, 1fr);
    background-image: url("../../../assets/img/hero.jpeg");
    height: 91vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 20px;

    @include for-tablet-layout {
        grid-template-columns:
            minmax(2rem, 1fr)
            minmax(auto, $mobile-breakpoint)
            minmax(2rem, 1fr);
    }
    @include for-narrow-layout {
        grid-template-columns:
            minmax(2rem, 1fr)
            minmax(auto, $tablet-breakpoint)
            minmax(2rem, 1fr);
    }
    @include for-normal-layout {
        grid-template-columns:
            minmax(2rem, 1fr)
            minmax(auto, $narrow-breakpoint)
            minmax(2rem, 1fr);
    }
    @include for-large-layout {
        grid-template-columns:
            minmax(2rem, 1fr)
            minmax(auto, $normal-breakpoint)
            minmax(2rem, 1fr);
    }
    @include for-wide-layout {
        grid-template-columns:
            minmax(2rem, 1fr)
            minmax(auto, $large-breakpoint)
            minmax(2rem, 1fr);
    }

    div {
        grid-column: 2;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        margin-bottom: 100px;
        gap: 20px;
        width: rem(750px);

        h1 {
            font-size: 1.8rem;
            text-transform: capitalize;
            width: 50%;
            color: $clr-light;
        }

        a {
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 0.5px;
            text-transform: capitalize;
            padding: 10px 30px;
            border: none;
            border-radius: 8px;
            background-color: $clr-dark;
            color: $clr-light;

            button{
                width: 100%;
                height: 100%;
            }
        }
    }
}
