.main-hero {
    display: grid;
    grid-template-columns:
        minmax(2rem, 1fr)
        minmax(auto, $normal-breakpoint)
        minmax(2rem, 1fr);
    background-image: url("../../../assets/img/hero.jpeg");
    height: 86vh;
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    margin-bottom: 30px;

    @include for-tablet-layout {
        grid-template-columns:
            minmax(2rem, 1fr)
            minmax(auto, $mobile-breakpoint)
            minmax(2rem, 1fr);
    }
    @include for-narrow-layout {
        grid-template-columns:
            minmax(2rem, 1fr)
            minmax(auto, $tablet-breakpoint)
            minmax(2rem, 1fr);
    }
    @include for-normal-layout {
        grid-template-columns:
            minmax(2rem, 1fr)
            minmax(auto, $narrow-breakpoint)
            minmax(2rem, 1fr);
    }
    @include for-large-layout {
        grid-template-columns:
            minmax(2rem, 1fr)
            minmax(auto, $normal-breakpoint)
            minmax(2rem, 1fr);
    }
    @include for-wide-layout {
        grid-template-columns:
            minmax(2rem, 1fr)
            minmax(auto, $large-breakpoint)
            minmax(2rem, 1fr);
    }

    div {
        grid-column: 2;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        margin-bottom: 19vh;
        gap: 20px;
        width: rem(750px);

        h1 {
            font-family: airbnb-regular, sans-serif;
            font-size: rem(43px);
            line-height: rem(47px);
            letter-spacing: -1px;
            font-weight: unset;
            width: 50%;
            color: $clr-light;
        }

        button {
            margin-top: 5px;
            padding: 0 0;

            
            a {
                font-family: airbnb-regular, sans-serif;
                font-size: rem(13px);
                line-height: rem(16px);
                padding: 7.5px 17px;
                text-transform: capitalize;
                border: none;
                border-radius: 8px;
                background-color: $clr-light;
                color: $clr-black;
            }
        }
    }
}
