.dashboard-container {
    margin-top: 12vh;

    .dash-main-container {
        display: flex;

        .dash-nav-container {
            padding-top: 60px;
            position: relative;
            display: flex;
            flex: 1;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            width: 100%;
            margin-right: 20px;

            button {
                background-color: rgba(255, 255, 255, 0);
                width: 100%;
                padding: 15px 20px;
                font-size: rem(14px);
                font-weight: 600;
                color: $clr-dark;
                text-align: start;
                border-top-right-radius: 100px;
                border-bottom-right-radius: 100px;

                &.add-stay-btn {
                    position: absolute;
                    top: 0;
                    border-top-left-radius: 100px;
                    border-bottom-left-radius: 100px;
                    box-shadow: 0 2px 4px 0px #0000003b;

                    &:hover {
                        background-color: unset;
                        box-shadow: 0 2px 6px 1px #0000003b;
                    }
                }

                &.active {
                    background-color: rgb(243, 240, 240);
                }

                &:hover {
                    background-color: rgb(243, 240, 240);
                }
            }
        }

        .dash-info-container {
            flex: 4;
        }
    }
}
