.order-form-container {
    flex: 1;

    .order-form {
        border: 1px solid rgb(204, 204, 204);
        border-radius: 15px;
        padding: 20px 20px;
        box-shadow: 0 6px 16px -2px #d8d8d8;

        .order-form-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 20px;

            .order-price {
                font-weight: 700;
            }
        }

        .order-form-date-picker {
            display: flex;
            align-items: center;
            gap: 0px;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;

            label {
                position: relative;
                display: flex;
                flex-direction: column;
                gap: 5px;
                align-items: flex-start;
                height: 100%;
                padding: 10px 25px;
                cursor: pointer;
                width: 100%;
                border: 1px solid rgb(153, 153, 153);

                &.check-in-lable {
                    border-top-left-radius: 10px;
                    border-bottom-color: rgba(255, 255, 255, 0);
                    border-right-color: rgba(255, 255, 255, 0);
                }

                &.check-out-lable {
                    border-top-right-radius: 10px;
                    border-bottom-color: rgba(255, 255, 255, 0);
                }

                &.guests-lable {
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                }

                span {
                    color: black;
                    text-transform: uppercase;
                    font-size: 10px;
                    font-weight: 600;
                    cursor: pointer;
                }

                input {
                    font-size: 14px;
                    border: none;
                    font-size: 15px;
                    line-height: 15px;
                    height: 15px;
                    width: 100%;
                    outline: none;
                    background-color: transparent;
                    cursor: pointer;
                    padding: 0px;
                }
            }

            .book-stay-btn {
                padding: 18px;
                margin: 15px 0px;
                width: 100%;
                border-radius: 10px;
                background-color: rgb(255, 56, 92);
                color: white;
                font-size: 16px;
                font-weight: 600;
            }

            .book-info{
                display: flex;
                flex-direction: column;
                gap: 10px;
                width: 100%;

                h4{
                    font-size: rem(14px);
                    font-weight: unset;
                    text-align: center;
                }

                h3{
                    font-size: rem(16px);
                    font-weight: unset;
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                }

            }
        }
    }

    .report-listing-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        font-size: 15px;
        color: rgb(77, 77, 77);
        width: 100%;
        margin-top: 20px;
    }
}