@font-face {
    font-family: airbnb-regular;
    src: url(../../assets//fonts/AirbnbCerealMedium.woff);
}

@font-face {
    font-family: airbnb-book;
    src: url(../../assets//fonts/AirbnbCerealBook.woff);
}
