// Colors

$clr-brand: #FF5A5F;
$clr-dark: #484848;
$clr-light: #ffffff;
$clr-gray: #767676;
$clr-green: #00A699;
$clr-orange: #FC642D;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
$wide-breakpoint: 1400px;
