.host-stay-list {


    .host-stay-list-table {
        width: 100%;
        border-spacing: 0px 2px;

        thead {
            tr {
                th {
                    padding: 10px 20px;
                    text-align: start;
                    font-family: airbnb-bold, sans-serif;

                    &.stay-actions {
                        text-align: center;
                    }
                }
            }
        }

        tbody {
            tr {
                td {
                    padding: 10px 20px;
                    border-top: 1px solid rgb(223, 223, 223);

                    &.stay-actions {
                        text-align: center;
                    }

                    &:first-of-type {
                        font-family: airbnb-regular, sans-serif;
                    }

                    // button {
                    //     visibility: hidden;
                    // }
                }

                // &:hover {
                //     td {
                //         button {
                //             visibility: visible;
                //         }
                //     }
                // }

                &:last-of-type {
                    td {
                        border-bottom: 1px solid rgb(223, 223, 223);
                    }
                }

                .far {
                    font-size: 25px;
                    color: $clr-dark;

                    &:hover {
                        color: $clr-brand;
                    }
                }

                &:hover {
                    box-shadow: 0 2px 9px 1px #d8d8d8;
                    padding: 11px 20px;
                }
            }
        }
    }
}
